.navbar-container {
  background-color: #061d3a;
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.517);
  position: fixed;
  z-index: 9999;
  margin-top: -5rem;
  // padding-bottom: 10rem;
  // background-image: linear-gradient(
  //   to bottom,
  //   rgba(6, 29, 58, 1) 0%,
  //   rgba(255, 255, 255, 0) 10%
  // );

  //   background-color: rgba(38, 38, 38, 0.35);
  // border-color: 20px solid hsla(0, 0%, 100%, 0.08);
}

.bootstrap-container {
  width: 100vw;
}

.nav-center {
  margin: 0 auto;
  font-size: 1.5rem;
}

.text-white {
  padding-right: 10px;
}

.text-white:hover {
  cursor: pointer;
}

/* link hover effect */
.link-hover-effect {
  position: relative;
}

.link-hover-effect:before {
  content: "";
  /* background: rgba(0, 212, 255, 1); */
  background: red;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.link-hover-effect:hover::before {
  width: 100%;
}

@media screen and (min-width: 1400px) {
  .text-white {
    font-size: 2.2rem;
  }
}
