.info-container2 {
  padding: 3rem 4rem;
  z-index: 9999;
  align-self: center;
  position: relative;
}

.pos-rel {
  position: relative;
}

@media screen and (min-width: 992px) {
  .info-container2 {
    padding: 3rem 4rem;
  }
}
