.seemore-link {
  display: block;
  width: 100%;
}

.seemore-container {
  width: -moz-fit-content;
  width: fit-content;
}

.seemore-text {
  height: 1rem;
}

.seemore-arrow {
  transition: 2s ease;
  display: none;
}

.seemore-hover-effect:hover .seemore-arrow {
  animation: slide 2s linear infinite;
  display: inline-block;
  color: red;
}
.seemore-hover-effect:hover .seemore-single-arrow {
  display: none;
}
