body {
  background-color: #061d3a;
}

h1 {
  font-size: 4rem;
  color: white;
  margin-bottom: 0.6rem;
}

h2 {
  color: white;
  font-size: 3rem;
  margin-bottom: 1rem;
  width: 100%;
}

h3 {
  color: lightgray;
  font-size: 1rem;
}

h4 {
  color: #061d3a;
  font-size: 3rem;
}

h5 {
  color: #061d3a;
  margin: auto;
}

p {
  color: white;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
}

.leaflet-container {
  height: 30rem;
}

.toast-container {
  position: -webkit-fixed;
  position: fixed;
  top: -6rem;
  /* top: 2rem; */
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  padding: 10px 2rem 1px 2rem;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  background-color: red;
  opacity: 0;
  transition: 1s ease;
}

.toast-transition {
  top: 2rem;
  opacity: 1;
  transition: 1s ease;
}

@media screen and (min-width: 992px) {
  .header-container {
    display: flex;
    max-height: 50rem;
  }
  .box-container {
    width: 100%;
  }
}

.test {
  position: absolute;
  z-index: 9999;
  background-color: red;
  color: white;
  border-radius: 3px;
}

.test:hover {
  cursor: pointer;
}
