/* Fade In effect */
.fade-in-section {
  opacity: 0;
  transform: translateY(30vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.margin-bottom {
  /* margin-bottom: 10rem; */
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 997px) {
  .margin-bottom {
    margin-bottom: 10rem;
  }
}

@media screen and (min-width: 992px) {
  .margin-bottom {
    flex-direction: inherit;
  }
}
